**Recuerde no agregar o quitar celdas en este notebook, ni modificar su tipo. Si lo hace, el sistema automaticamente lo calificará con cero punto cero (0.0)**

Use el siguiente conjunto de datos para resolver los problemas propuestos. Use [gradetool](gradetool.md) para verificar las respuestas del notebook.

In [1]:
%%writefile data.csv
1,Vivian,Hamilton,1971-07-08,green,1
2,Karen,Holcomb,1974-05-23,green,4
3,Cody,Garrett,1973-04-22,orange,1
4,Roth,Fry,1975-01-29,black,1
5,Zoe,Conway,1974-07-03,blue,2
6,Gretchen,Kinney,1974-10-18,viole,1
7,Driscoll,Klein,1970-10-05,blue,5
8,Karyn,Diaz,1969-02-24,red,1
9,Merritt,Guy,1974-10-17,indigo,4
10,Kylan,Sexton,1975-02-28,black,4
11,Jordan,Estes,1969-12-07,indigo,4
12,Hope,Coffey,1973-12-24,green,5
13,Vivian,Crane,1970-08-27,gray,5
14,Clio,Noel,1972-12-12,red,5
15,Hope,Silva,1970-07-01,blue,5
16,Ayanna,Jarvis,1974-02-11,orange,5
17,Chanda,Boyer,1973-04-01,green,4
18,Chadwick,Knight,1973-04-29,yellow,1

Writing data.csv

In [1]:
%load_ext bigdata
%pig_init

In [2]:
%%pig
u = LOAD 'data.csv' USING PigStorage(',') 
    AS (id:int, 
        firstname:CHARARRAY, 
        surname:CHARARRAY, 
        birthday:CHARARRAY, 
        color:CHARARRAY, 
        quantity:INT);

## Pregunta 1

Escriba una consulta en Pig que genere la siguiente salida:

    (Vivian@Hamilton)
    (Karen@Holcomb)
    (Cody@Garrett)
    (Roth@Fry)
    (Zoe@Conway)
    (Gretchen@Kinney)
    (Driscoll@Klein)
    (Karyn@Diaz)
    (Merritt@Guy)
    (Kylan@Sexton)
    (Jordan@Estes)
    (Hope@Coffey)
    (Vivian@Crane)
    (Clio@Noel)
    (Hope@Silva)
    (Ayanna@Jarvis)
    (Chanda@Boyer)
    (Chadwick@Knight)

In [61]:
%%pig
p1 = FOREACH u GENERATE CONCAT(firstname,CONCAT('@',surname));
dump p1;

(Vivian@Hamilton)
(Karen@Holcomb)
(Cody@Garrett)
(Roth@Fry)
(Zoe@Conway)
(Gretchen@Kinney)
(Driscoll@Klein)
(Karyn@Diaz)
(Merritt@Guy)
(Kylan@Sexton)
(Jordan@Estes)
(Hope@Coffey)
(Vivian@Crane)
(Clio@Noel)
(Hope@Silva)
(Ayanna@Jarvis)
(Chanda@Boyer)
(Chadwick@Knight)

## Pregunta 2

Genere una relación con el apellido y su longitud. Ordene por longitud y por apellido. Obtenga la siguiente salida.

    (Hamilton,8)
    (Garrett,7)
    (Holcomb,7)
    (Coffey,6)
    (Conway,6)

In [13]:
%%pig
p2 = FOREACH u GENERATE surname,SIZE(surname);
p2 = ORDER p2 BY $1,$0 DESC;
p2 = ORDER p2 BY $1 DESC,$0 ASC;
p2 = LIMIT p2 5;
dump p2;

(Hamilton,8)
(Garrett,7)
(Holcomb,7)
(Coffey,6)
(Conway,6)

## Pregunta 3

Escriba el código que genere la siguiente salida.

    (Hamilton,HAMILTON,hamilton)
    (Holcomb,HOLCOMB,holcomb)
    (Garrett,GARRETT,garrett)
    (Fry,FRY,fry)
    (Conway,CONWAY,conway)

In [53]:
%%pig
p3 = FOREACH u GENERATE surname,UPPER(surname),LOWER(surname);
p3 = LIMIT p3 5;
dump p3;

(Hamilton,HAMILTON,hamilton)
(Holcomb,HOLCOMB,holcomb)
(Garrett,GARRETT,garrett)
(Fry,FRY,fry)
(Conway,CONWAY,conway)

## Pregunta 4

Obtenga los apellidos que empiecen por las letras entre la 'd' y la 'k'. La salida esperada es la siguiente:

    (Hamilton)
    (Holcomb)
    (Garrett)
    (Fry)
    (Kinney)
    (Klein)
    (Diaz)
    (Guy)
    (Estes)
    (Jarvis)
    (Knight)

In [63]:
%%pig
p4 = FOREACH u GENERATE surname;
p4 = FILTER p4 BY 
($0 matches '.*D.*' or $0 matches '.*E.*' or $0 matches '.*F.*'
or $0 matches '.*G.*' or $0 matches '.*H.*' or $0 matches
'.*I.*' or $0 matches '.*J.*' or $0 matches '.*K.*');

dump p4;

(Hamilton)
(Holcomb)
(Garrett)
(Fry)
(Kinney)
(Klein)
(Diaz)
(Guy)
(Estes)
(Jarvis)
(Knight)

## Pregunta 5

Escriba el código equivalente a la siguiente consulta en SQL.

    SELECT
        color
    FROM 
        u 
    WHERE 
        color 
    LIKE 'b%';

In [62]:
%%pig
p5 = FOREACH u GENERATE color;
p5 = FILTER p5 BY ($0 matches '.*b.*');
p5 = p5;
dump p5;

(black)
(blue)
(blue)
(black)
(blue)

## Pregunta 6

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        color 
    FROM 
        u 
    WHERE 
        color NOT LIKE 'b%';

In [32]:
%%pig
p6 = FOREACH u GENERATE color;
p6 = FILTER p6 BY NOT($0 matches '.*b.*');
p6 = p6;
dump p6;

(green)
(green)
(orange)
(viole)
(red)
(indigo)
(indigo)
(green)
(gray)
(red)
(orange)
(green)
(yellow)

## Pregunta 7

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname,
        color
    FROM 
        u 
    WHERE color = 'blue' AND firstname LIKE 'Z%';

In [38]:
%%pig
p7 = FOREACH u GENERATE firstname,color;
p7 = FILTER p7 BY ($0 matches '.*Z.*' and $1 matches '.*b.*');
p7 = p7;
dump p7;

(Zoe,blue)

## Pregunta 8

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT
        firstname,
        color
    FROM 
        u
    WHERE color = 'blue' OR firstname LIKE 'K%';

In [67]:
%%pig
p8 = FOREACH u GENERATE firstname,color;
p8 = FILTER p8 BY ($0 matches '.*K.*' or $1 matches '.*blue.*');
dump p8;

(Karen,green)
(Zoe,blue)
(Driscoll,blue)
(Karyn,red)
(Kylan,black)
(Hope,blue)

## Pregunta 9

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname, color 
    FROM 
        u
    WHERE color IN ('blue','black');

In [68]:
%%pig
p9 = FOREACH u GENERATE firstname,color;
p9 = FILTER p9 BY ($1 matches '.*black.*' or $1 matches '.*blue.*');
dump p9;

(Roth,black)
(Zoe,blue)
(Driscoll,blue)
(Kylan,black)
(Hope,blue)

## Pregunta 10

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname, 
        color 
    FROM 
        u 
    WHERE color NOT IN ('blue','black');

In [70]:
%%pig
p10 = FOREACH u GENERATE firstname,color;
p10 = FILTER p10 BY NOT 
($1 matches '.*black.*' or $1 matches '.*blue.*');
dump p10;

(Vivian,green)
(Karen,green)
(Cody,orange)
(Gretchen,viole)
(Karyn,red)
(Merritt,indigo)
(Jordan,indigo)
(Hope,green)
(Vivian,gray)
(Clio,red)
(Ayanna,orange)
(Chanda,green)
(Chadwick,yellow)

## Pregunta 11

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT
        firstname,
        color
    FROM 
        u 
    WHERE 
        color REGEXP '^b';

In [72]:
%%pig
p11 = FOREACH u GENERATE firstname,color;
p11 = FILTER p11 BY 
($1 matches '.*b.*');
dump p11;

(Roth,black)
(Zoe,blue)
(Driscoll,blue)
(Kylan,black)
(Hope,blue)

## Pregunta 12

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT
        firstname,
        color
    FROM 
        u 
    WHERE 
        color REGEXP '^[^b]';

In [75]:
%%pig
p12 = FOREACH u GENERATE firstname,color;
p12 = FILTER p12 BY 
($1 matches '.*^[^b].*');
dump p12;

(Vivian,green)
(Karen,green)
(Cody,orange)
(Gretchen,viole)
(Karyn,red)
(Merritt,indigo)
(Jordan,indigo)
(Hope,green)
(Vivian,gray)
(Clio,red)
(Ayanna,orange)
(Chanda,green)
(Chadwick,yellow)

## Pregunta 13

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname,
        color
    FROM 
        u
    WHERE 
        color REGEXP 'blue|green';

In [77]:
%%pig
p13 = FOREACH u GENERATE firstname,color;
p13 = FILTER p13 BY 
($1 matches '.*blue|green.*');
dump p13;

(Vivian,green)
(Karen,green)
(Zoe,blue)
(Driscoll,blue)
(Hope,green)
(Hope,blue)
(Chanda,green)

## Pregunta 14

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname,
        color
    FROM 
        u
    WHERE 
        color REGEXP '.n';

In [80]:
%%pig
p14 = FOREACH u GENERATE firstname,color;
p14 = FILTER p14 BY 
($1 matches '.*.n$.*');
dump p14;

(Vivian,green)
(Karen,green)
(Hope,green)
(Chanda,green)

## Pregunta 15

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname,
        color 
    FROM 
        u 
    WHERE 
        color REGEXP '[aeiou]$';

In [83]:
%%pig
p15 = FOREACH u GENERATE firstname,color;
p15 = FILTER p15 BY 
($1 matches '.*[aeiou]$.*');
dump p15;

(Cody,orange)
(Zoe,blue)
(Gretchen,viole)
(Driscoll,blue)
(Merritt,indigo)
(Jordan,indigo)
(Hope,blue)
(Ayanna,orange)

## Pregunta 16

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        REGEX_EXTRACT(birthday, '....-..-..', 2) 
    FROM 
        u;

In [91]:
%%pig
p16 = FOREACH u GENERATE birthday;
p16 = FOREACH p16 GENERATE REGEX_EXTRACT($0,'-([0-9]{2})-',1);
dump p16;

(07)
(05)
(04)
(01)
(07)
(10)
(10)
(02)
(10)
(02)
(12)
(12)
(08)
(12)
(07)
(02)
(04)
(04)

## Pregunta 17

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT  
        firstname,
        SUBSTRING_INDEX(firstname, 'a', 1)
    FROM 
        u;

In [94]:
%%pig
p17 = FOREACH u GENERATE INDEXOF(firstname,'a',1);
dump p17;

(4)
(1)
(-1)
(-1)
(-1)
(-1)
(-1)
(1)
(-1)
(3)
(4)
(-1)
(4)
(-1)
(-1)
(2)
(2)
(2)

## Pregunta 18

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname 
    FROM 
        u 
    WHERE 
        SUBSTRING(firstname, 0, 1) >= 'm';

In [97]:
%%pig
p18 = FOREACH u GENERATE firstname;
p18 = FILTER p18 BY 
(SUBSTRING($0,0,1) >= 'M');
dump p18;

(Vivian)
(Roth)
(Zoe)
(Merritt)
(Vivian)

## Pregunta 19

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname, 
        LOCATE('ia', firstname) 
    FROM 
        u;

In [98]:
%%pig
p19 = FOREACH u GENERATE INDEXOF(firstname,'ia',1);
dump p19;

(3)
(-1)
(-1)
(-1)
(-1)
(-1)
(-1)
(-1)
(-1)
(-1)
(-1)
(-1)
(3)
(-1)
(-1)
(-1)
(-1)
(-1)

## Pregunta 20

Escriba el código en Pig para manipulación de fechas que genere sea equivalente a la siguiente consulta SQL.

    SELECT 
        birthday, 
        DATE_FORMAT(birthday, "yyyy"),
        DATE_FORMAT(birthday, "yy"),
    FROM 
        persons
    LIMIT
        5;

In [13]:
%%pig
p20 = FOREACH u GENERATE ToDate(birthday, 'yyyy-MM-dd');
p20 = FOREACH p20 GENERATE ToString($0,'yyyy'),ToString($0,'yy');
--p20 = LIMIT p20 5;
-- en el calificador no está limitado a 5 entradas
dump p20;

(1971,71)
(1974,74)
(1973,73)
(1975,75)
(1974,74)
(1974,74)
(1970,70)
(1969,69)
(1974,74)
(1975,75)
(1969,69)
(1973,73)
(1970,70)
(1972,72)
(1970,70)
(1974,74)
(1973,73)
(1973,73)

## Pregunta 21

Escriba el código en Pig para manipulación de fechas que genere la siguiente salida.

    (1971-07-08,jul,07,7)
    (1974-05-23,may,05,5)
    (1973-04-22,abr,04,4)
    (1975-01-29,ene,01,1)
    (1974-07-03,jul,07,7)
    (1974-10-18,oct,10,10)
    (1970-10-05,oct,10,10)
    (1969-02-24,feb,02,2)
    (1974-10-17,oct,10,10)
    (1975-02-28,feb,02,2)
    (1969-12-07,dic,12,12)
    (1973-12-24,dic,12,12)
    (1970-08-27,ago,08,8)
    (1972-12-12,dic,12,12)
    (1970-07-01,jul,07,7)
    (1974-02-11,feb,02,2)
    (1973-04-01,abr,04,4)
    (1973-04-29,abr,04,4)

In [3]:
%%pig
p21 = FOREACH u GENERATE ToDate(birthday, 'yyyy-MM-dd');
p21 = FOREACH p21 GENERATE ToString($0,'yyyy-MM-dd'),
LOWER(ToString($0,'MMM')),ToString($0,'MM'),ToString($0,'M');
dump p21;

(1971-07-08,jul,07,7)
(1974-05-23,may,05,5)
(1973-04-22,abr,04,4)
(1975-01-29,ene,01,1)
(1974-07-03,jul,07,7)
(1974-10-18,oct,10,10)
(1970-10-05,oct,10,10)
(1969-02-24,feb,02,2)
(1974-10-17,oct,10,10)
(1975-02-28,feb,02,2)
(1969-12-07,dic,12,12)
(1973-12-24,dic,12,12)
(1970-08-27,ago,08,8)
(1972-12-12,dic,12,12)
(1970-07-01,jul,07,7)
(1974-02-11,feb,02,2)
(1973-04-01,abr,04,4)
(1973-04-29,abr,04,4)

## Pregunta 22

Escriba el código en Pig para manipulación de fechas que genere la siguiente salida:

    (1971-07-08,08,8,jue,jueves)
    (1974-05-23,23,23,jue,jueves)
    (1973-04-22,22,22,dom,domingo)
    (1975-01-29,29,29,mié,miércoles)
    (1974-07-03,03,3,mié,miércoles)
    (1974-10-18,18,18,vie,viernes)
    (1970-10-05,05,5,lun,lunes)
    (1969-02-24,24,24,lun,lunes)
    (1974-10-17,17,17,jue,jueves)
    (1975-02-28,28,28,vie,viernes)
    (1969-12-07,07,7,dom,domingo)
    (1973-12-24,24,24,lun,lunes)
    (1970-08-27,27,27,jue,jueves)
    (1972-12-12,12,12,mar,martes)
    (1970-07-01,01,1,mié,miércoles)
    (1974-02-11,11,11,lun,lunes)
    (1973-04-01,01,1,dom,domingo)
    (1973-04-29,29,29,dom,domingo)

In [7]:
%%pig
p22 = FOREACH u GENERATE ToDate(birthday, 'yyyy-MM-dd');
p22 = FOREACH p22 GENERATE ToString($0,'yyyy-MM-dd'),
LOWER(ToString($0,'dd')),ToString($0,'d'),
ToString($0,'EEE'),ToString($0,'EEEE');
dump p22;

(1971-07-08,08,8,jue,jueves)
(1974-05-23,23,23,jue,jueves)
(1973-04-22,22,22,dom,domingo)
(1975-01-29,29,29,mié,miércoles)
(1974-07-03,03,3,mié,miércoles)
(1974-10-18,18,18,vie,viernes)
(1970-10-05,05,5,lun,lunes)
(1969-02-24,24,24,lun,lunes)
(1974-10-17,17,17,jue,jueves)
(1975-02-28,28,28,vie,viernes)
(1969-12-07,07,7,dom,domingo)
(1973-12-24,24,24,lun,lunes)
(1970-08-27,27,27,jue,jueves)
(1972-12-12,12,12,mar,martes)
(1970-07-01,01,1,mié,miércoles)
(1974-02-11,11,11,lun,lunes)
(1973-04-01,01,1,dom,domingo)
(1973-04-29,29,29,dom,domingo)

## Pregunta 23

Cuente la cantidad de personas nacidas por año.

In [10]:
%%pig
p23 = FOREACH u GENERATE ToDate(birthday, 'yyyy-MM-dd');
p23 = FOREACH p23 GENERATE  ToString($0,'yyyy');
p23 = GROUP p23 BY $0;
p23 = FOREACH p23 GENERATE group,COUNT(p23);
dump p23;

(1969,2)
(1970,3)
(1971,1)
(1972,1)
(1973,4)
(1974,5)
(1975,2)

---

In [14]:
!rm pig_* data.csv

---